@inherits LayoutComponentBase

@inject NavigationManager Navigation

<style>
    #components-reconnect-modal {
        z-index: 99999!important;
        background-color: #999;
        opacity: 0.5;
        border-radius: 20px;
    }
    #components-reconnect-modal a {
        font-size: 2rem;
        display: inline-block;
        background-color: -webkit-link;
        border: 1px solid -webkit-link;
        padding: .5rem;
        border-radius: 5px;
        color: #fff;
    }
    main h4:first-of-type {
        margin-top: 0.5rem;
        margin-left: 2.25rem;
    }
    main div.Paper-Root {
        margin-left: 2.25rem;
        margin-right: 2.25rem;
        padding: 1rem;
        text-align: center;
    }
</style>

<MainLayout>
    <LogoContent>
        <AppLogo />
    </LogoContent>
    <TitleContent>
        <Typography
            Style="flex-grow: 1; margin-left: 20px;"
            Variant="@TypographyVariant.H6"
            NoWrap>
            Fa. Manuel Grundner
        </Typography>
    </TitleContent>
    <ActionsContent>
        <Hidden
            MediumDown
            Context="HiddenContext">
            <div
                Class="@HiddenContext.Class">
                <IconButton
                    Color="@Color.Inherit"
                    OnClick="@HandleNotificationsClick">
                    <Badge
                        Badge="@Notifications"
                        Color="@Color.Primary"
                        Variant="@BadgeVariant.Dot">
                        <NotificationsOutlinedIcon />
                    </Badge>
                </IconButton>
                <IconButton
                    Class="FullLayout-Signout"
                    Color="@Color.Inherit"
                    OnClick="@HandleSignoutClick">
                    <InputIcon />
                </IconButton>
            </div>
        </Hidden>
    </ActionsContent>
    <SidebarContent>
        <Profile
            Name="Shen Zhi"
            Avatar="./_content/Skclusive.Blazor.Dashboard.App.View/images/avatars/avatar_11.png"
            Bio="Brain Director">
        </Profile>
        <Divider
            Class="FullLayout-Divider" />
        <Navigation
            Class="FullLayout-Navigation"
            Items="@Items">
        </Navigation>
    </SidebarContent>
    <BodyContent>
        @Body
    </BodyContent>
</MainLayout>

@code
{
     private List<NavigationItem> Items = new List<NavigationItem>
    {
        new NavigationItem
        {
            Title = "Dashboard",
            Path = "dashboard",
            Icon = @<DashboardIcon />,
            Prefix = false
        },

        new NavigationItem
        {
            Title = "Users",
            Path =  "users",
            Icon =  @<PeopleIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Products",
            Path = "products",
            Icon = @<ShoppingBasketIcon />,
            Prefix = true
        },

        new NavigationItem
        {
            Title = "Account",
            Path =  "account",
            Icon =  @<AccountBoxIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Settings",
            Path =  "settings",
            Icon =  @<SettingsIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Typography",
            Path =  "typography",
            Icon =  @<TextFieldsIcon />,
            Prefix =  true
        },

        new NavigationItem
        {
            Title = "Authentication",
            Path =  "signin",
            Icon =  @<LockOpenIcon />,
            Prefix =  true
        },
        new NavigationItem
        {
            Title = "Projects",
            Path =  "admin/projects",
            Icon =  @<ListIcon />,
            Prefix =  true
        },
        new NavigationItem
        {
            Title = "Customers",
            Path =  "admin/customers",
            Icon =  @<PeopleIcon />,
            Prefix =  true
        },
        new NavigationItem
        {
            Title = "Activities",
            Path =  "admin/activities",
            Icon =  @<WorkIcon />,
            Prefix =  true
        },
        new NavigationItem
        {

            Title = "Logout",
            Path =  OperatingSystem.IsBrowser() ? "LogoutWasm" : "Logout",
            Icon =  @<InputIcon />,
            Prefix =  true
        },
    };

    private string Notifications { set; get; } = "10";

    private void HandleNotificationsClick()
    {
        // OnNotificationsClick?.Invoke();
    }

    private void HandleSignoutClick()
    {
        if (OperatingSystem.IsBrowser())
        {
            Navigation.NavigateTo("LogoutWasm");
        }
        else
        {
            Navigation.NavigateTo("Logout", true);
        }
    }
}
